//referencing HTML code from overview.html

doctype html
html
  head
    //- title= Natours #{tour}  //interpolation
    //- <link rel="stylesheet" href="css/style.css" />
    //- link(rel="shortcut icon" type='image/png' href='img/favicon.png')
    
    block head
      //- link(rel="stylesheet" href="https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.css")

      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")

      link(href="https://fonts.googleapis.com/css?family=Lato:300,300i,700" rel="stylesheet")
      
      link(rel="stylesheet" href="/css/style.css")
      link(rel="shortcut icon" type="image/png" href="/img/favicon.png")

      //- title Natours | Exciting tours for adventurous people
      title Natours | #{title}

  //- body 
    //- h1= tour
    //- // h1 The Park Camper   //simple comment
    //- //- h1 The Park Camper  //buffered code
    //- - const x = 9;              //unbuffered code
    //- h2 = 2 * x

    //- p This is just some text

    //- //HEADER

    //- //CONTENT
    //- section.overview
    //-   h1= tour 

    //- //FOOTER
  
  body 

    //HEADER
    include _header

    //CONTENT
    block content
      h1 This is a placeholder heading

    //FOOTER
    include _footer

    script(src="https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.js")
    script(src="/js/maplibre.js")